header{
  position:fixed;
  top:0;
  background-color: #fff;
  width: 100%;
  height: 50px;
  z-index: 999;
}
.logo{
  align-items: center;
  display: flex;
}
.logo img{
  width: 48px;
  height: 48px;
}
.logo span{
  font-size: 24px;
  padding-left: 5px;
  color: #2db7f5;
}
.ant-col-20{
  text-align: center !important;
}
.footer{
  text-align: center;
}
.ant-menu-item .register{
  float: right !important;
}
.register{
  float: right !important;
}
.ant-menu-horizontal > .ant-menu-item > a, .ant-menu-horizontal > .ant-menu-submenu > a
{
  display: inline-block !important;
}
.container{
  padding-top: 10px;
}
.centerImage{
  width: 100%;
}
.leftContainer{
  width: 15%;
  float: left;
}
.leftContainer .ant-card-head{

}
.leftContainer .ant-card-head-title{
  font-size: 20px !important;
}
#container {
    text-align: center !important;
}
.container {
    text-align: center;
    margin-top: 5px;
}
.news_line{
  display: inline-block;
  width: 3px;
  height: 20px;
  background-color: #2db7f5;
  vertical-align: center;
  margin-right: 10px;
  vertical-align: middle;
}
.centerContainer .ant-tabs-nav-wrap{
  padding: 9px 0px 0px 0px;
  font-size: 20px;
}
/*rightContainer START  */
.rightContainer{
  float: left;
  width: 25%;
  padding: 10px;
}
.rightContainer .ant-card-head{
  border: 0px !important;
}
.rightContainer .ant-card-head-title{
  font-size: 20px !important;
}
.rightContainer li{
  height: 27px;
  width: 100%;
  line-height: 27px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  float: left;
  text-overflow: ellipsis;
}
.rightContainer .topNewsList{
  width: 300px;
}

.topNewsList {
    float: left;
    text-align: left;
    font-size: 14px;
    margin-bottom: 10px;
}
.topNewsList a {
    line-height: 22px !important;
    color: #666 !important;
}
/*rightContainer END  */
/*carousel START*/
.centerImage .carousel {
    width: 100%;
    float: left;
}
.centerImage .carousel img {
    width: 100%;
    height: 400px;
}
/*carousel END*/

/*news_card START*/
.ant-card{
  margin-top: 5px !important;
}
.ant-card-body{
  padding: 10px !important;
}
.ant-card-head-title{
  text-align: left !important;
  padding: 13px 0px !important;
}
.ant-card-body ul{
    padding: 0px !important;
}
.centerContainer .ant-card-body ul li{
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
  padding-top: 5px;
}
.centerContainer .ant-card-body{
  text-align: left !important;
  overflow:hidden;
  width: 100%;
  text-overflow:ellipsis;
}
.ant-tabs-nav-scroll{
  float: left;
}
.usercenter {
  float: right !important;
}
/*news_card END*/
/*newsBlock START  */
.newsBlock{
  float:left;
  width: 100%;
}
.newsBlock .ant-card{
  width: 100%;
}
.newsBlock-image{
  margin-top: 5px;
  width: 150px;
  float: left;
}
.newsBlock-card{
  float: left;
  width: 70%;
}
/*newsBlock END  */
/*image block START*/
.imageblock {
    float: left;
}

.custom-card {
    padding: 5px;
}

.custom-card p {
    color: #999;
}

.register{
  float: right !important;
}

/*image blockn END*/


.centerContainer {
    padding-left: 10px;
    width: 60%;
    float: left;
}
.centerContainer ul{
  width: 100%;
}
.centerContainer li {
    height: 120px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    float: left;
    text-overflow: ellipsis;
}



.tabs_product {
    width: 300px;
    padding-left: 10px;
    float: left;
}
.tabs_product li {
    height: 27px;
    line-height: 27px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    width: 257px;
    text-overflow: ellipsis;
}
.clearfix{
  margin-top: 20px;
}

.ant-tabs-bar {
    margin-bottom: 0 !important;
}
