header{
  position:fixed;
  top:0;
  background-color: #fff;
  width: 100%;
  height: 50px;
  z-index: 999;
}
.logo{
  align-items: center;
  display: flex;
}
.logo img{
  width: 48px;
  height: 48px;
}
.logo span{
  font-size: 24px;
  padding-left: 5px;
  color: #2db7f5;
}
.ant-col-20{
  text-align: center !important;
}
.footer{
  text-align: center;
}
.ant-menu-item .register{
  float: right !important;
}
.register{
  float: right !important;
}
.ant-menu-horizontal > .ant-menu-item > a, .ant-menu-horizontal > .ant-menu-submenu > a
{
  display: inline-block !important;
}
.container{
  padding-top: 10px;
}
.centerImage{
  width: 100%;
}
.leftContainer{
  width: 15%;
  float: left;
}
.leftContainer .ant-card-head{

}
.leftContainer .ant-card-head-title{
  font-size: 20px !important;
}
#container {
    text-align: center !important;
}
.container {
    text-align: center;
    margin-top: 5px;
}
.news_line{
  display: inline-block;
  width: 3px;
  height: 20px;
  background-color: #2db7f5;
  vertical-align: center;
  margin-right: 10px;
  vertical-align: middle;
}
.centerContainer .ant-tabs-nav-wrap{
  padding: 9px 0px 0px 0px;
  font-size: 20px;
}
/*rightContainer START  */
.rightContainer{
  float: left;
  width: 25%;
  padding: 10px;
}
.rightContainer .ant-card-head{
  border: 0px !important;
}
.rightContainer .ant-card-head-title{
  font-size: 20px !important;
}
.rightContainer li{
  height: 27px;
  width: 100%;
  line-height: 27px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  float: left;
  text-overflow: ellipsis;
}
.rightContainer .topNewsList{
  width: 300px;
}

.topNewsList {
    float: left;
    text-align: left;
    font-size: 14px;
    margin-bottom: 10px;
}
.topNewsList a {
    line-height: 22px !important;
    color: #666 !important;
}
/*rightContainer END  */
/*carousel START*/
.centerImage .carousel {
    width: 100%;
    float: left;
}
.centerImage .carousel img {
    width: 100%;
    height: 400px;
}
/*carousel END*/

/*news_card START*/
.ant-card{
  margin-top: 5px !important;
}
.ant-card-body{
  padding: 10px !important;
}
.ant-card-head-title{
  text-align: left !important;
  padding: 13px 0px !important;
}
.ant-card-body ul{
    padding: 0px !important;
}
.centerContainer .ant-card-body ul li{
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
  padding-top: 5px;
}
.centerContainer .ant-card-body{
  text-align: left !important;
  overflow:hidden;
  width: 100%;
  text-overflow:ellipsis;
}
.ant-tabs-nav-scroll{
  float: left;
}
.usercenter {
  float: right !important;
}
/*news_card END*/
/*newsBlock START  */
.newsBlock{
  float:left;
  width: 100%;
}
.newsBlock .ant-card{
  width: 100%;
}
.newsBlock-image{
  margin-top: 5px;
  width: 150px;
  float: left;
}
.newsBlock-card{
  float: left;
  width: 70%;
}
/*newsBlock END  */
/*image block START*/
.imageblock {
    float: left;
}

.custom-card {
    padding: 5px;
}

.custom-card p {
    color: #999;
}

.register{
  float: right !important;
}

/*image blockn END*/


.centerContainer {
    padding-left: 10px;
    width: 60%;
    float: left;
}
.centerContainer ul{
  width: 100%;
}
.centerContainer li {
    height: 120px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    float: left;
    text-overflow: ellipsis;
}
/*Article Content START*/
.detailontainer{
  margin-top: 50px;
}
.container{
    text-align: center;
}
.detailRight{
  margin-top: 50px;
}
.article {
    text-align: justify
}
.article-content .img .img-wrap,.hot-news img {
    background-repeat: no-repeat;
    background-position: center
}

.hn-title h2,.in-title h2 {
    z-index: 1;
    font-weight: 600
}

#title {
    margin: 16px 16px 0!important;
    border-bottom: 1px solid #e5e5e5
}

.article-title {
    margin-bottom: .2rem
}

#title .title,.article-title .title {
    font-size: 1.44rem;
    line-height: 1.4em
}

.title {
    color: #000
}

.article-src-time {
    font-size: .1rem;
    color: #999;
    padding-bottom: .2rem
}

.article-content .section {
    line-height: 1.6em;
    margin-bottom: 0rem;
    margin-top: 0
}

.article-content .txt {
    font-size: .36rem
}

.article-content .img {
    margin-bottom:0rem;
    line-height: 0rem !important;
    height: 7rem;
}

.article-content .img .img-wrap {
    position: relative;
    display: block;
    width: 100%;
    height: 0;
    overflow: hidden;
    background-size: 40%
}

#content {
    margin: .3rem 16px 16px;
    font-size: 12px;
}

.article-content .img .img-wrap img {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 60%
}

.article-content .img .txt-wrap {
    font-size: .36rem;
    line-height: 2em
}

.article-content .app-download {
    position: relative;
    display: block;
    width: 100%;
    height: .8rem;
    text-align: center;
    color: red;
    line-height: .8rem;
    border: 1px solid #e5e5e5;
    border-top: 0 none;
    font-size: .34rem
}

.article-content .app-download img {
    position: absolute;
    width: .42rem;
    height: .42rem;
    margin-right: .15rem;
    top: 50%;
    margin-top: -.21rem;
    left: .66rem
}
/*Article Content END*/

.pc-news-class{
  margin-top: 50px;
}
.userContainer{
  margin-top: 50px;
}

.clearfix{
  margin-top: 20px;
}

.ant-tabs-bar {
    margin-bottom: 0 !important;
}
